{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
<ul>
    {% for movie in movies %}
    <li><a href="{{ path('movie_show', {id: movie.id}) }}">{{ movie.title }} ({{ movie.releaseDate|date('Y') }})</a></li>
    {% endfor %}
</ul>
{% endblock %}
